# Copiar a .env y completar con los valores reales (NUNCA subir .env al repositorio)
PORT=3000
DB_HOST=acme-erp-bd.xxxxxxxxxxxx.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_USER=erp_admin
DB_PASS=CAMBIAR_PASSWORD_SEGURA
DB_NAME=acme_erp
JWT_SECRET=CAMBIAR_POR_CADENA_ALEATORIA_LARGA
JWT_EXPIRA=1h
S3_BUCKET=acme-erp-backups-grupo4
AWS_REGION=us-east-1
